@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto:wght@400;700&display=swap');



*{
    
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

:root{

    --color-primary: whitesmoke;
    --color-secondary:rgba(100, 64, 64, 0.986);
    --color-white: #fff;

}

 /* //// main //// */
 h1{
     font-size: 30px; 
    font-weight:500px ;
    color: var(--color-secondary);
 }
a{
    color: black;
    font-size: 20px;
}

a:hover{
    color: var(--color-secondary);
}


/* //// NAVBAR ////  */


.nav__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 6rem;
}


.nav__menus{
    display: flex;
    justify-content: space-between;
    gap: 1rem;

}

input{
  border: none;
  outline: none;
  font-size: 16px;
  height: 3rem;
  background-color: whitesmoke;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding:0 10px;
}




.nav__search{
    display: flex;
    justify-content: center;
  
}

#nav__search-icon{
    color: var(--color-white);
    background-color: var(--color-secondary);
    padding: 5px 0;
    font-size: 25px;
    border-radius: 8px;
    border: -1px solid;
    height:rem ;
    width: 2rem;
}

.nav__button{
    color: var(--color-white);
    background-color: var(--color-secondary);
    border: none;
    border-radius:8px ;
    font-size: 18px;
    height:2.7rem ;
    width: 6rem;
}

.nav__button:hover{
    color: var(--color-secondary);
    background-color: var(--color-white);
    cursor: pointer;
}


/* ///// HEADER /////// */

.header__container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: var(--color-primary);
    color: var(--color-secondary);
    height: 55vh;
    gap: 8rem;
}

.header__left{
    padding: 30px;
width: 600px;

}

.header__hero-title{
    margin-bottom: 2rem;
    font-size: 30px;
    width: 280px;
}

.hero__attr{
    width: 310px;
    margin-bottom:2rem ;
    line-height: 30px;

}

.header__right{
    /* width: 100%; */
}

.hero__img{
    width: 100%;
}

.hero__buttons-01{
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
    background-color: var(--color-secondary);
    color: var(--color-white);
}

.hero__buttons-02{
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
}