



*{
    
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

:root{

    --color-primary: whitesmoke;
    --color-secondary:rgba(100, 64, 64, 0.986);
    --color-white: #fff;

}

 /* //// main //// */
 h1,h2{
     font-size: 30px; 
    font-weight:500px ;
    color: var(--color-secondary);
  
 }
nav a{
    color: black;
    font-size: 20px;
}

nav a:hover{
    color: var(--color-secondary);
}


/* //// NAVBAR ////  */


.nav__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 6rem;
}


.nav__menus{
    display: flex;
    justify-content: space-between;
    gap: 1rem;

}

input{
  border: none;
  outline: none;
  font-size: 16px;
  height: 3rem;
  background-color: whitesmoke;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding:0 10px;
}




.nav__search{
    display: flex;
    justify-content: center;
  
}

#nav__search-icon{
    color: var(--color-white);
    background-color: var(--color-secondary);
    padding: 5px 0;
    font-size: 25px;
    border-radius: 8px;
    border: -1px solid;
    height:rem ;
    width: 2rem;
}

.nav__button{
    color: var(--color-white);
    background-color: var(--color-secondary);
    border: none;
    border-radius:8px ;
    font-size: 18px;
    height:2.7rem ;
    width: 6rem;
}

.nav__button:hover{
    color: var(--color-secondary);
    background-color: var(--color-primary);
    cursor: pointer;
}


/* ///// HEADER /////// */

.header__container{
    display: flex;
    justify-content: center;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    height: 55vh;
    gap: 8rem;
    margin-bottom: 5rem;
}

.header__left{
    padding: 30px;
width: 600px;

}

.header__hero-title{
    line-height: 50px;
    margin-bottom: 1rem;
    font-size: 40px;
    width: 360px;
}

.hero__attr{
    width: 310px;
    margin-bottom:2rem ;
    line-height: 30px;

}

.hero__img{
    width: 100%;
}

.hero__buttons-01{
    width: 10rem;
    height: 3.5rem;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    background-color: var(--color-secondary);
    color: var(--color-white);
}

.hero__buttons-01:hover{
    border-radius: 5px;
    color: var(--color-secondary);
    transition: 2s;
    cursor: pointer;
    background-color: var(--color-primary);
    border: 1px solid var(--color-secondary);
}

.hero__buttons-02{
    width: 10rem;
    height: 3.5rem;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
}

.hero__buttons-02:hover{
    transition: 2s;
    background-color: var(--color-secondary);
    color: var(--color-white); 
}


/* ////////////  catalog    ///////////// */


.product__list-container{
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 5rem;
}

.list__title{
  font-size: 50px;
}

.cat_p{
  text-align: center;
  width: 830px;
  font-size: 20px;
  margin-bottom: 5rem;
}


.catalog__img{
    display: flex;
    justify-content: center;
   
}

.catalog__fig,
.catalog__fig02,
.catalog__fig03{
    height: 80%;
    width: 80%;
    border: .5px solid burlywood;
}

/* //////////End of catalog /////////// */


.popular__container{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

.popular__title{
    font-size: 40px;
    margin-bottom: 2rem;

}

.popular__img-container{
    display: flex;
    justify-content: space-between;
    gap:4rem;
}


.popular__image{
    width:100%;
    border-radius: 60px;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
     box-shadow: 0px 3px 10px rgba(0, 0, 0.1, 0.3);
}

.popular__fig{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    background-color: transparent;
   
}

.popular__p{
    color: var(--color-secondary);
    font-size: 18px;
}


/* ////////////// categories //////////////// */
.categories__container{
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}


.categories__title{
    font-size: 40px;
    margin-bottom: 4rem;

}

.categories__img-container{
    display: flex;
    justify-content: space-between;
    gap:2.5rem;
}


.categories__image{
    width: 80%;
    margin-left: 1rem;
    /* border-radius: 60px; */
  
}

.categories__fig{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    height: 20rem;
    width:17rem;
    gap: 1.5rem;
    border-radius: 1rem;
     box-shadow: 0px 3px 10px rgba(0, 0, 0.1, 0.3);
    background-color: transparent;
}

.categories__p{
    color: var(--color-secondary);
    font-size: 18px;
}

.cate__price{
    font-size: 18px;
    font-weight: 700;
}
.star__icon{
    display: flex;
    font-size: 8px;
}

.cate__img-info{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.3rem;
    margin-left: 1rem;
}


/* ////////////////////// Testimonials  //////////////////////// */

.testimonial__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 60vh;
    background-color:rgba(192, 190, 190, 0.368);
    margin-bottom: 5rem;
}

.test__title{
    font-size: 40px;
}

.test__profile{
    display: flex;
    justify-content: center;
    width:100% ;
    height: 14rem;
    gap: 3%;
}

.customer__testi{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 40%; 
    background-color: var(--color-white);
      border-radius: 1rem;
}

.test__img{
    position: absolute;
    bottom:10rem;
    z-index: 11;
    border-radius: 10rem;
}



/* /////////////////////  blogs /////////////////////////// */


.blog__container{
    display: flex;
    justify-content: center;
    /* align-content: center; */
    align-items: center;
    gap: 5rem;
    height: 100%;
    margin-bottom: 5rem;
}

.blog_title{
    margin-bottom: 3rem;
    font-size: 40px;
    text-align: center;
}
.blog__right{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  
}


.blog__right img{
border-radius: 1rem;
}

.blog__inner-container{
display: flex;
 align-items: center;
gap: 1rem;
}


.product__details{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 400px;
   
}



/* ////////////END OF BLOG////////////// */


.question__container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.5rem;
    margin-bottom: 5rem;
}

.question__title{
    font-size: 40px;
}

.question__subtitle{
    font-size: 34px;
    color: var(--color-secondary);
}

.questions__fig{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 3rem;
 
}


.question_image{
    width: 20%;
    border-radius: 0.5rem;
}

.question__p{
    text-align: center;
    font-size: 18px;
    width: 900px;
}

.question__button{
    width: 8rem;
    /* height: 3rem; */
    padding: 1.2rem;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
    background-color: var(--color-secondary);
    color: var(--color-white);
}

.question__button:hover{
    border-radius: 5px;
    color: var(--color-secondary);
    transition: 2s;
    cursor: pointer;
    background-color: var(--color-primary);
    border: 1px solid var(--color-secondary);
}

.client__review{
    font-size: 40px;
    margin-bottom: 1rem;
}

.client__fig{
    display: flex;
    width: 100%;
    gap: 1.9rem;
    justify-content: center;
    align-items: center;
}
.client__img1,
.client__img5
{
    width: 10%;

    border-radius: 50%;
}
.client__img2,
.client__img4{
    width: 15%;

    border-radius: 50%;
}

.client__img3{
    width: 20%;
    border-radius: 50%;
}


/* //////////////////END OF F&Q //////////////// */

#footer{
    color: var(--color-white);
    display: flex;
    justify-content: center;
    padding: 5rem;
    gap: 5rem;
    line-height: 3rem;
    background-color: var(--color-secondary);
    height: 40vh;
}

footer a {
    text-decoration: none;
    color: var(--color-white);
}


.app{
    width: 200px;
}

footer button{
    padding: 1rem;
    border: none;
    width: 200px;
    margin-bottom: .5rem;
    border-radius: 5px;
    background-color: black;
}

.app__icon{
  
}